.flexColumn {
    display: flex;
    flex-direction: column;
}

.gap1em {
    gap: 1em;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.flexRowBetween {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    width: 90%;
}

.btn {
    display: flex;
    gap: 1em;
}

.section h1 {
    font-size: 1.5em;
    padding: .5em;
}

@media (min-width: 1200px) {
    .container {
        width: 50em;
    }

    .section {
        height: 99vh;
        margin-top: -62px;
    }

    .section h1 {
        font-size: 2em;
        padding: 1em;
    }
}