.container {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../src/assets/trail-woman.avif);
    background-size: cover;
    background-position: center;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 2rem;
    padding: 0 1rem;
}

h1,
.text {
    text-align: center;
    font-size: 2rem;
}

.text {
    font-size: 1.2rem;
    margin-top: 1.2rem;
}

@media (min-width: 1200px) {
    .content {
        padding: 0 12rem;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }

    .text {
        max-width: 100ch;
        line-height: 1.5;
    }
}