.container,
.column,
.title,
.author,
.rating,
.section,
.info {
    display: flex;
    color: #0D1A26;
}

.section {
    width: 100%;
    justify-content: center;
    padding-bottom: 1rem;
}

.container {
    flex-direction: column;
    width: 410;
    height: fit-content;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 4px 4px 0px #00000040;
    align-self: center;
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.column {
    flex-direction: column;
    justify-content: space-between;
    padding: .5rem;
}

.title {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}


.info {
    flex-direction: column;
    gap: 5px;
}

.time p {
    padding-bottom: 5px;
    color: #5C6670;
}

.level span {
    font-weight: 600;
    background-color: #EFF0F0;
    padding: 6px 8px;
    border-radius: 32px;
    font-size: .75rem;
}

.author {
    justify-content: flex-end;
}

.rating {
    padding-top: 10px;
    justify-content: space-between;
}

.rating span {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .section {
        padding: 2rem 0;
    }

    .container {
        width: 960px;
        height: 351px;
        flex-direction: row !important;
    }

    .column {
        padding: 2rem;
        width: 100%;
    }

    .info {
        gap: 15px;
    }

    .time p {
        padding-bottom: 10px;
    }

    .image {
        width: 70%;
        height: 100%;
    }

    .image img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0px;
    }
}