header {
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 1em;
    top: 0;
    left: 0;
}

.nav {
    width: 100%;
    color: #E1F0DA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 0 1rem;
}

.desktop {
    display: none;
}

.scrolled {
    background-color: #114232;
    transition: background-color 0.3s ease;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

}

.mobileMenu {
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: #114232;
    align-items: center;
    border-radius: 5px;

}

.mobileMenu a {
    padding: .5em;
    color: #fff;
    text-decoration: none;
}


@media (min-width: 1200px) {
    header {
        height: 72px;
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .links {
        gap: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav {
        padding: 0 5rem;
    }

    .logo {
        font-size: 1rem;
    }
}