header {
    background-color: #E1F0DA;
    position: fixed;
    width: 100vw;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 62px;
    top: 0;
}

.nav {
    width: 100%;
    color: #294B29;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    padding: 0 1rem;
}

.logo {
    display: flex;
    font-size: .75rem;
    align-items: center;
    gap: .2rem;
}

.largeScreen {
    display: none;
}

@media (min-width: 1200px) {
    .smallScreen {
        display: none;
    }

    .largeScreen {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .links {
        gap: 3rem;
        display: flex;
        align-items: center;
    }

    .nav {
        padding: 0 15rem;
    }

    .logo {
        font-size: 1rem;
    }
}