@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p,
h2,
h1 {
  margin-top: 0;
  /* Remover margem superior */
  margin-bottom: 0;
  /* Remover margem inferior */
}

body {
  padding-top: 62px;

}